.header {
  //   background-image: url(/images/desktop/image-header.jpg);
  position: absolute;
  z-index: 1;
  width: 100%;

  nav {
    max-width: 100%;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
  }

  &__logo {
    img {
      width: 10.8125rem;
      height: 2.375rem;
      @include breakpoint-down(small) {
        width: 7rem;
        height: 2rem;
      }
    }
  }

  &__toggle {
    // Mobile Menu Toggle

    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $White;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  //mobile menu

  //

  &__links {
    a {
      position: relative;
      font-size: $font-med;
      transition: color 300ms ease-in-out;
      margin-right: 2.7rem;
      font-weight: 700;
      text-decoration: none;
    }
    a:hover {
      color: $Yellow;
    }
  }

  &__menu {
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    background: $White;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 0.2rem;

    a {
      display: block;
      padding: 0.625rem;
      color: $Verydarkgrayishblue;
      text-align: center;
      text-decoration: none;
      font-size: $font-lg;
    }

    button {
      background-color: $Yellow;
    }
  }
}
